In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_path=Path(r'D:\Kartik\IIITB\Study\Sem 3\PE\Kedro\kartik-eeg\data\04_primary\dataset_filtered_no_first_15_task_3s.csv')
df = pd.read_csv(file_path)

In [3]:
df.head()

,participant,ftime,label,power_1,differential_entropy1,mean1,std1,skew1,kurtosis1,iqr1,...,power_8,differential_entropy8,mean8,std8,skew8,kurtosis8,iqr8,median8,hjorth_08,hjorth_18
0,1,1900-01-01 10:29:19,0,8995.845745,7.053254,32046.31699,384.628354,-1.237420,0.816988,354.0000,...,757.406659,5.402481,-25411.844754,58.106355,0.143098,-0.004800,82.7600,42.580,0.000386,1.234242
1,1,1900-01-01 10:29:29,0,40242.179690,7.593252,29023.60239,1220.389056,0.206970,-1.719914,2511.5925,...,461.197786,5.179250,-25283.216359,47.101302,0.034578,-0.593690,78.2050,36.300,0.000496,1.224450
2,1,1900-01-01 10:29:39,0,8779.468993,7.140613,30559.85626,611.641877,-1.461695,0.991814,571.8700,...,548.143048,5.073813,-25125.209535,42.055425,-0.365472,-0.082871,46.4400,23.040,0.000412,1.236278
3,1,1900-01-01 10:29:49,0,5462.791955,5.812329,31149.86247,88.055996,0.268596,0.974663,102.3950,...,756.408356,5.301464,-24995.481022,54.174400,0.642358,0.458843,65.2375,32.255,0.000401,1.225505
4,1,1900-01-01 10:29:59,0,7056.253901,6.181402,31145.52422,124.025163,-0.080207,-0.517104,185.7950,...,1015.670223,5.048353,-24872.735543,40.360114,0.000920,-0.998837,68.6650,34.180,0.000418,1.217193

In [4]:
df.isna().sum().sum()

np.int64(0)

In [5]:
df.isnull().sum().sum()

np.int64(0)

In [6]:
df.shape

(625, 63)