In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('D:\\Kartik\\IIITB\\Study\\Sem 3\\PE\\Kedro\\kartik-eeg\\data\\02_intermediate\\video_data\\16_to_30\\offset_times.csv')

In [4]:
df.head()

                        File Name    Video Time Actual Time   Offset Time
0  16shiv-2019-06-05_13.35.27.csv  (00, 10, 39)    13:46:07  (13, 35, 28)
1   17ank-2019-06-05_14.43.17.csv  (00, 20, 35)    15:04:03  (14, 43, 28)
2   18kom-2019-06-06_11.03.13.csv  (00, 01, 20)    11:04:35  (11, 03, 15)
3   19tri-2019-06-06_12.23.44.csv  (00, 01, 21)    12:24:57  (12, 23, 36)
4   20shy-2019-06-06_16.04.41.csv  (00, 07, 22)    16:12:04  (16, 04, 42)

In [7]:
df=df.drop(columns=['Video Time','Actual Time'])

In [17]:
df.to_csv('offset_times.csv')

In [13]:
def convert_time_format(time_str):
    # Remove parentheses and split by comma
    time_parts = [part.strip() for part in time_str.strip('()').split(',')]
    # Format the parts into 'hh:mm:ss'
    return ':'.join(time_parts)

In [15]:
df['Offset Time']=df['Offset Time'].map(convert_time_format)

In [16]:
df

                         File Name Offset Time
0   16shiv-2019-06-05_13.35.27.csv    13:35:28
1    17ank-2019-06-05_14.43.17.csv    14:43:28
2    18kom-2019-06-06_11.03.13.csv    11:03:15
3    19tri-2019-06-06_12.23.44.csv    12:23:36
4    20shy-2019-06-06_16.04.41.csv    16:04:42
5    21tar-2019-06-06_15.10.12.csv    15:10:13
6    22ayu-2019-06-07_11.16.54.csv    11:16:55
7    23nih-2019-06-07_12.18.32.csv    12:18:34
8    24pra-2019-06-07_14.27.52.csv    14:27:53
9    25lik-2019-06-07_15.49.58.csv    15:49:58
10   26rac-2019-06-08_10.04.41.csv    10:04:42
11   27kar-2019-06-08_10.48.19.csv    10:48:20
12   28pra-2019-06-08_11.57.10.csv    11:57:10
13   29shu-2019-06-08_13.08.17.csv    13:08:20
14   30kar-2019-06-08_15.00.29.csv    15:00:30